@model PlannerApp.ViewModels.TaskListViewModel

@{
    ViewData["Title"] = "Task list";
}

<h4>@ViewData["Title"]</h4>

<div class="container">
    @Html.ActionLink("Add new", "AddNew")
    <h2>Group List With Your Tasks</h2>
    <div class="list-group">
        <table class="table">
            <tr>
                <th>
                    <p>Description</p>
                    @Html.ActionLink("^", "Index", new { sortBy = PlannerApp.Enums.SortBy.Description, sortOrder = PlannerApp.Enums.SortOrder.Ascending })
                    @Html.ActionLink("v", "Index", new { sortBy = PlannerApp.Enums.SortBy.Description, sortOrder = PlannerApp.Enums.SortOrder.Descending })
                </th>
                <th>
                    <p>Created date</p>
                    @Html.ActionLink("^", "Index", new { sortBy = PlannerApp.Enums.SortBy.CreatedDate, sortOrder = PlannerApp.Enums.SortOrder.Ascending })
                    @Html.ActionLink("v", "Index", new { sortBy = PlannerApp.Enums.SortBy.CreatedDate, sortOrder = PlannerApp.Enums.SortOrder.Descending })
                </th>
                <th>
                    <p>Due date</p>
                    @Html.ActionLink("^", "Index", new { sortBy = PlannerApp.Enums.SortBy.DueDate, sortOrder = PlannerApp.Enums.SortOrder.Ascending })
                    @Html.ActionLink("v", "Index", new { sortBy = PlannerApp.Enums.SortBy.DueDate, sortOrder = PlannerApp.Enums.SortOrder.Descending })
                </th>
                <th>
                    <p>Priority</p>
                    @Html.ActionLink("^", "Index", new { sortBy = PlannerApp.Enums.SortBy.Priority, sortOrder = PlannerApp.Enums.SortOrder.Ascending })
                    @Html.ActionLink("v", "Index", new { sortBy = PlannerApp.Enums.SortBy.Priority, sortOrder = PlannerApp.Enums.SortOrder.Descending })
                </th>
                <th></th>
            </tr>
        </table>
            @foreach (var item in Model.TaskList)
            {
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Description</h4>
                    <p class="list-group-item-text">@item.Description</p>
                    <h4 class="list-group-item-heading">Deadline</h4>
                    <p class="list-group-item-text">@item.DueDate</p>
                    <h4 class="list-group-item-heading">Priority</h4>
                    <p class="list-group-item-text">@item.Priority</p>
                </a>
                @Html.ActionLink("Delete", "DeleteTask", new { id = item.ID })
            }
    </div>
</div>