@model IndexViewModel
@{
    ViewData["Title"] = "Profile";
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <table style="width:100%" class="profileInfo">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Username)
                </td>
                <td>
                    @Model.Username
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Email)
                </td>
                <td>
                    @Model.Email
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </td>
                <td>
                    @Model.PhoneNumber
                </td>
            </tr>
        </table>
    </div>
</div>
