@model PlannerApp.ViewModels.CalendarViewModel

@{
    ViewData["Title"] = "Calendar";
}
<h4>@ViewData["Title"]</h4>


<div class="row">
    <div class="col-md-4">
        <form action="Index" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AllMonths"></label>
                @Html.DropDownListFor(
                                x => x.SelectedMonthId,
                                new SelectList(Model.AllMonths, "Value", "Text"))
                <span asp-validation-for="AllMonths" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentYear"></label>
                <input asp-for="CurrentYear" class="form-control" />
                <span asp-validation-for="CurrentYear" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">submit</button>
        </form>
    </div>
</div>
<div class="col-md-4">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"> Mn </div>
        <div class="col-md-4"> Tu </div>
    </div>
</div>
<div class="col-md-8">
    <div class="row">
        <div class="col-md-2"> We </div>
        <div class="col-md-2"> Thur </div>
        <div class="col-md-2"> Fri </div>
        <div class="col-md-2"> Sat </div>
        <div class="col-md-2"> Sun </div>
        <div class="col-md-2"></div>
    </div>
</div>

@{
    int weeks = 0, lastDay = 0;
    while (weeks != 5)
    {
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    @Model.DaysNTasksList[lastDay].Day
                    @if (Model.DaysNTasksList[lastDay].TaskList.Any())
                    {
                        @foreach (var task in (Model.DaysNTasksList[lastDay].TaskList))
                        {
                            <p>@task.Description</p>
                        }
                    }
                    @{lastDay++;}
                </div>
                <div class="col-md-4">
                    @Model.DaysNTasksList[lastDay].Day
                    @if (Model.DaysNTasksList[lastDay].TaskList.Any())
                    {
                        @foreach (var task in (Model.DaysNTasksList[lastDay].TaskList))
                        {
                            <p>@task.Description</p>
                        }
                    }
                    @{lastDay++;}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-2">
                    @Model.DaysNTasksList[lastDay].Day
                    @if (Model.DaysNTasksList[lastDay].TaskList.Any())
                    {
                        @foreach (var task in (Model.DaysNTasksList[lastDay].TaskList))
                        {
                            <p>@task.Description</p>
                        }
                    }
                    @{lastDay++;}
                </div>
                <div class="col-md-2">
                    @Model.DaysNTasksList[lastDay].Day
                    @if (Model.DaysNTasksList[lastDay].TaskList.Any())
                    {
                        @foreach (var task in (Model.DaysNTasksList[lastDay].TaskList))
                        {
                            <p>@task.Description</p>
                        }
                    }
                    @{lastDay++;}
                </div>
                <div class="col-md-2">
                    @Model.DaysNTasksList[lastDay].Day
                    @if (Model.DaysNTasksList[lastDay].TaskList.Any())
                    {
                        @foreach (var task in (Model.DaysNTasksList[lastDay].TaskList))
                        {
                            <p>@task.Description</p>
                        }
                    }
                    @{lastDay++;}
                </div>
                <div class="col-md-2">
                    @Model.DaysNTasksList[lastDay].Day
                    @if (Model.DaysNTasksList[lastDay].TaskList.Any())
                    {
                        @foreach (var task in (Model.DaysNTasksList[lastDay].TaskList))
                        {
                            <p>@task.Description</p>
                        }
                    }
                    @{lastDay++;}
                </div>
                <div class="col-md-2">
                    @Model.DaysNTasksList[lastDay].Day
                    @if (Model.DaysNTasksList[lastDay].TaskList.Any())
                    {
                        @foreach (var task in (Model.DaysNTasksList[lastDay].TaskList))
                        {
                            <p>@task.Description</p>
                        }
                    }
                    @{lastDay++;}
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        weeks++;
    }
}